.landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.croissant {
    width: 400px;
}

button {
    margin: 20px;
}