/* .landing {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 20px);
    background-image: url("../Images/wooden-tray.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
} */