.recipes {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.pagination-bar {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  