.recipe {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
}

.recipe-general-info {
    display: flex;
    flex-direction: row;
}

.ingredients-and-instructions {
    display: flex;
    flex-direction: row;
}