.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.predicted-results {
    display: flex;
    flex-direction: row;
}